* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  font-family: 'Exo 2', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

#contact {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#00B894), to(#00B894)), url(img/pexels-wendy-van-zyl-1112048.jpg) no-repeat;
  background: linear-gradient(#00B894, #00B894), url(img/pexels-wendy-van-zyl-1112048.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: screen;
}

#contact .heading {
  font-size: 4rem;
  padding-top: 5rem;
  margin: 2rem 0;
  color: #fff;
  text-align: center;
  position: relative;
  color: #333;
}

#contact .heading::after {
  content: '';
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: .3rem;
  width: 60%;
  border-radius: 5rem;
  background: #333;
}

#contact .heading::after {
  background: #fff;
}

#contact form {
  background: #fff;
  padding-top: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0 1rem #333;
          box-shadow: 0 0 1rem #333;
}

#contact form .inputBox {
  text-align: center;
  position: relative;
}

#contact form .inputBox input, #contact form .inputBox textarea {
  outline: none;
  padding: 0 1rem;
  height: 4rem;
  width: 90%;
  border-radius: .5rem;
  border: .2rem solid #333;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem 0;
}

#contact form .inputBox input:focus ~ h3,
#contact form .inputBox input:valid ~ h3, #contact form .inputBox textarea:focus ~ h3,
#contact form .inputBox textarea:valid ~ h3 {
  top: -1rem;
  left: 5.9%;
  color: #ff3300;
}

#contact form .inputBox input:focus, #contact form .inputBox textarea:focus {
  border-color: #00B894;
}

#contact form .inputBox textarea {
  resize: none;
  padding: 1rem;
  height: 20rem;
}

#contact form .inputBox input[type="submit"] {
  border: none;
  background: #00B894;
  color: #fff;
}

#contact form .inputBox input[type="submit"]:hover {
  background: #333;
}

#contact form .inputBox h3 {
  position: absolute;
  top: 3rem;
  left: 8%;
}

